<h4>Grado de Pérdida Auditiva del Paciente</h4>
<div class="row form-group">
  <div class="col-md-6">
    <button type="button" [class]="resumen.gradoPerdida === gradoPerdidaEnum.LEVEMODERADA ? 'selected': ''"
      (click)="setGrado(gradoPerdidaEnum.LEVEMODERADA)" class="btn btn-default btn-actions btn-block">
      Leve-Moderada
    </button>
  </div>
  <div class="col-md-6">
    <button type="button" [class]="resumen.gradoPerdida === gradoPerdidaEnum.PROFUNDA ? 'selected': ''"
      (click)="setGrado(gradoPerdidaEnum.PROFUNDA)" class="btn btn-default btn-actions btn-block">
      Profundo
    </button>
  </div>
</div>
<div class="row form-group">
  <div class="px-6 pt-4 pb-2">
    <button type="button" [disabled]="disabled()" (click)="onNextStep()" class="btn btn-primary">
      Siguiente
    </button>
  </div>
</div>
