<h4>Informe Final</h4>

<div class="col-md-12">
  <p>
    Paciente: {{resumen.nombre}} Edad: {{resumen.edad}} años. <br>
    Sexo: {{resumen.genero == "M" ? "Masculino": "Femenino"}} <br>
  </p>
</div>
<div class="col-md-12">
  <h4>Opciones Seleccionadas</h4>

  <p>
    Grado de Perdida: {{resumen.gradoPerdida}} <br>
    Tipo de Perdida: {{resumen.tipoPerdida}} <br>
    {{resumen.enfermedadesPre ? "Enfermedades Previas: "+resumen.enfermedadesPre : "" }}
    <br *ngIf="resumen.enfermedadesPre">
    {{resumen.malformaciones ? "Malformaciones: "+resumen.malformaciones : "" }}
    <br *ngIf="resumen.malformaciones">
  </p>

  <!--en enfermedades previas y malformaciones mi idea es poner la condicion de que si están vacías, se ponga por default "No presenta"-->
</div>
<div class="col-md-12">
  <h4>Resultado Audioprótesis</h4>
  <span class="text-center">
    {{resumen.protesisSeleccionada}} <br>
  </span>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <img [src]="obtenerUrlImagen()" class="img-responsive img-rounded" />
    </div>
  </div>
</div>
<div class="col-md-12">
  <hr>
  <button type="button" [disabled]="disabled()" (click)="onNextStep()" class="btn btn-primary">
    Volver al inicio
  </button>
</div>


<!-- export interface Informe {
  nombre: string;
  edad: number;
  genero: string;
  gradoPerdida: GRADOPERDIDA,
  tipoPerdida: TIPOPERDIDA,
  enfermedadesPre: ENFERMEDADES,
  tipoPro: TIPOPROTESIS,
  malformaciones: MALFORMACIONES,
  protesisSeleccionada: PROTESIS
} -->
