<h4>PÉRDIDA AUDITIVA EN ALTAS FRECUENCIAS</h4>
<div class="row form-group">
  <h5 class="card-title">"AUDIFONOS OPEN FIT"</h5>
  <div class="col-md-6 col-md-offset-3">
    <img src="../../../../assets/images/openfit.jpg" 
    [class]="resumen.protesisSeleccionada === protesisEnum.OPENFIT ? 'selected': ''"
    (click)="resumen.protesisSeleccionada = protesisEnum.OPENFIT" class="img-responsive img-rounded"
      alt="Open Fit">
  </div>
</div>
<div class="row form-group">
  <div class="px-6 pt-4 pb-2">
    <button type="button" [disabled]="disabled()" (click)="onNextStep()" class="btn btn-primary">
      Informe Final
    </button>
  </div>
</div>
 