<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div id="card-steps" class="panel panel-default">
      <div class="panel-body">
        <app-step-one [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 1"></app-step-one>
        <app-step-two [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 2"></app-step-two>
        <app-step-three [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 3"></app-step-three>
        <app-step-four [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 4"></app-step-four>
        <app-step-five [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 5"></app-step-five>
        <app-step-six [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 6"></app-step-six>
        <app-step-seven [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 7"></app-step-seven>
        <app-step-eight [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 8"></app-step-eight>
        <app-step-nine [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 9"></app-step-nine>
        <app-step-ten [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 10"></app-step-ten>
        <app-step-eleven [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 11"></app-step-eleven>
        <app-step-twelve [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 12"></app-step-twelve>
        <app-step-thirteen [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 13"></app-step-thirteen>
        <app-step-fouteen [(resumen)]="resumen" (nextStep)="setNextStep()" *ngIf="step === 14"></app-step-fouteen>
        <app-informe [resumen]="resumen" (nextStep)="setNextStep()" *ngIf="step === 15"></app-informe>
      </div>
    </div>
  </div>
</div>
