<h4>Datos del Paciente</h4>
<div class="row form-group">
  <div class="col-md-6 col-md-offset-3">
    <input type="text" placeholder="Nombre Completo" [(ngModel)]="resumen.nombre" class="form-control">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-6 col-md-offset-3">
    <input type="number" [(ngModel)]="resumen.edad" placeholder="Edad" class="form-control">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-6 col-md-offset-3">
    <select id="genero" [(ngModel)]="resumen.genero" class="form-control" placeholder="Genero">
      <option value="" disabled selected>Genero</option>
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="px-6 pt-4 pb-2">
    <button [disabled]="nextDisabled()" type="button" (click)="onNextStep()" class="btn btn-primary">
      Siguiente
    </button>
  </div>
</div>
