<h4>Enfermedades Pre-existentes</h4>
<div class="row form-group">
    <div class="col-md-4">
        <button type="button" [class]="resumen.enfermedadesPre === enfermedadesPreEnum.CONGENITAS ? 'selected': ''"
            (click)="setEnfermedades(enfermedadesPreEnum.CONGENITAS)" class="btn btn-default btn-actions btn-block">
            Malformaciones Congénitas
        </button>
    </div>
    <div class="col-md-4">
        <button type="button" [class]="resumen.enfermedadesPre === enfermedadesPreEnum.CONGENITAS ? 'selected': ''"
            (click)="setEnfermedades(enfermedadesPreEnum.PREEXISTENTES)" class="btn btn-default btn-actions btn-block">
            Enfermedades Pre-existentes
        </button>
    </div>
    <div class="col-md-4">
        <button type="button" [class]="resumen.enfermedadesPre === enfermedadesPreEnum.NO ? 'selected': ''" (click)="setEnfermedades(enfermedadesPreEnum.NO)"
            class="btn btn-default btn-actions btn-block">
            No Presenta Enfermedades
        </button>
    </div>
</div>
<div class="row form-group">
    <div class="px-6 pt-4 pb-2">
        <button type="button" [disabled]="disabled()" (click)="onNextStep()" class="btn btn-primary">
            Siguiente
        </button>
    </div>
</div>