<h4>Pérdida auditiva</h4>
<div class="row form-group">
    <div class="col-md-4">
        <button type="button" [class]="resumen.gradoPerdida === gradoPerdidaEnum.LEVE ? 'selected': ''"
            (click)="setPerdida(gradoPerdidaEnum.LEVE)" class="btn btn-default btn-actions btn-block">
            LEVE
        </button>
    </div>
    <div class="col-md-4">
        <button type="button" [class]="resumen.gradoPerdida === gradoPerdidaEnum.MODERADA ? 'selected': ''"
            (click)="setPerdida(gradoPerdidaEnum.MODERADA)" class="btn btn-default btn-actions btn-block">
            MODERADA
        </button>
    </div>
    <div class="col-md-4">
        <button type="button" [class]="resumen.gradoPerdida === gradoPerdidaEnum.ALTASFRECUENCIAS ? 'selected': ''" (click)="setPerdida(gradoPerdidaEnum.ALTASFRECUENCIAS)"
            class="btn btn-default btn-actions btn-block">
            EN ALTAS FRECUENCIAS
        </button>
    </div>
</div>
<div class="row form-group">
    <div class="px-6 pt-4 pb-2">
        <button type="button" [disabled]="disabled()" (click)="onNextStep()" class="btn btn-primary">
            Siguiente
        </button>
    </div>
</div>
