p {
  text-align: left;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 6px black;
}

span {
  font-size: 22px;
  color: white;
  text-shadow: 1px 1px 6px black;
}

hr {
  border-color: transparent;
}
