<h4>Malformaciones Congénitas</h4>
<div class="row form-group">
    <div class="col-md-6">
        <button type="button" [class]="resumen.malformaciones === malformacionesEnum.NOPRESENTAMALFORMACIONES ? 'selected': ''"
            (click)="setMalformacion(malformacionesEnum.NOPRESENTAMALFORMACIONES)" class="btn btn-default btn-actions btn-block">
            NO PRESENTA MALFORMACIONES
        </button>
    </div>
    <div class="col-md-6">
        <button type="button" [class]="resumen.malformaciones === malformacionesEnum.PRESENTAMALFORMACIONES ? 'selected': ''"
            (click)="setMalformacion(malformacionesEnum.PRESENTAMALFORMACIONES)" class="btn btn-default btn-actions btn-block">
            PRESENTA MALFORMACIOENS
        </button>
    </div>
</div>
<div class="row form-group">
    <div class="px-6 pt-4 pb-2">
        <button type="button" [disabled]="disabled()" (click)="onNextStep()" class="btn btn-primary">
            Siguiente
        </button>
    </div>
</div>
