body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3036a5;
}
.container {
    text-align: center;
    background: rgb(106, 176, 226);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px; /* Cambia el tamaño de la fuente del encabezado */
    margin-bottom: 20px; /* Agrega espacio inferior al encabezado */
    color: #333333; /* Cambia el color del texto del encabezado */
}

img {
    width: 300px;  /* Set the desired width */
    height: 300px; /* Set the desired height */
    object-fit: cover; /* Ensure the images cover the given size without distortion */
    border-radius: 5px;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #b6d9ff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b6d9ff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.button + .button {
    margin-left: 10px;
}
